@model PracticeMVC.Models.CreateDepartmentViewModel

@{
    ViewData["Title"] = "Create Department";
}

<h2>Create New Department</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

@if (!string.IsNullOrEmpty(ViewData["SuccessMessage"] as string))
{
    <div class="alert alert-success" role="alert">
        @ViewData["SuccessMessage"]
    </div>
}

<form asp-action="Create">
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Student</button>
</form>